

.sidebar {
  background-color: #1f2937; 
  width: 14rem;             
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
}

.sidebar i {
  width: 18px;
  text-align: center;
}

.sidebar a:hover {
  background-color: #374151; 
}

.sidebar a.active {
  background-color: #111827; 
  font-weight: 600;
}


.sidebar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
  width: 4px;
  background-color: #3b82f6; 
  border-radius: 4px;
}
